.tableContainer {

  .title {
    color: white;
    font-weight: normal;
  }

  .cardContent {
    overflow-x: auto;
    padding: 0;
  }

  .table {
    width: 100%;
    padding: 1em;
    border-collapse: collapse;
    font-size: 0.9em;
    color: var(--dark-gray-company);

    thead {
      font-weight: bold;

      tr {
        border-bottom: 1px solid var(--light-gray-company);
      }
    }

    th,
    td {
      padding: 0.75rem 1rem;
      text-align: left;
    }

    tbody {

      tr {
        cursor: pointer;
        height: 90px;
        border-left: 4px solid var(--dark-gray-company);

        &:not(:last-child) {
          border-bottom: 1px solid var(--dark-gray-company);
        }

        @media screen and (max-width: 768px) {
          height: 97px;
        }

        &:nth-child(odd) {
          border-left: 4px solid var(--blue-company);
        }

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  .paymentMethodCell {
    div {
      display: flex;
      align-items: center;

      span {
        margin-left: 0.8em;
      }
    }
  }

  .firstTransactionCell {
    div {
      display: flex;
      align-items: center;

      span {
        margin-left: 1em;
      }
    }
  }

  .deduction {
    display: block;
    font-size: 0.8rem;
    color: var(--red-company);
    margin-top: 0.25rem;
  }

}
