:root {
  --blue-company: #121E6C;
  --red-company: #EE424E;
  --dark-gray-company: #606060;
  --light-gray-company: #F3F3F3;
  --background-color-company: #F6F4F9;
  --gradient-company: linear-gradient(90deg, var(--blue-company), var(--red-company));
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color-company);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-monserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
