.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2rem;
  background: var(--gradient-company);
  color: var(--light-gray-company);

  @media screen and (max-width: 768px) {
    padding: 1.5rem 1rem;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  width: auto;

  @media screen and (max-width: 768px) {
    width: 50%;
  }
}

.links {
  display: flex;
  gap: 1.5rem;
}

.link {
  color: var(--light-gray-company);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--background-color-company);
  }
}
