.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--gradient-company);
  color: var(--light-gray-company);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  width: auto;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.link {
  color: var(--light-gray-company);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;

  &:hover {
    color: var(--background-color-company);
  }
}
