.totalSales {

  .header {

    .infoIcon {
      border: 1px solid var(--light-gray-company);
      border-radius: 50%;
      padding: 0.1em 0.55em;
      margin-left: 0.5rem;
      font-size: 0.8em;
      cursor: pointer;
      color: var(--light-gray-company);
    }
  }

  .body {
    text-align: center;

    .total {
      font-size: 2rem;
      font-weight: bold;
      background: -webkit-linear-gradient(45deg, var(--blue-company), var(--red-company));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 1rem;
    }

    .date {
      font-size: 1rem;
      color: var(--dark-gray-company);
      margin-top: 0.5rem;
    }
  }
}
